




<html>
<head>
	<title>Slidr</title>
	<link rel="stylesheet" href="views/css/bootstrap.css">
	<link rel="stylesheet" href="views/css/simple-sidebar.css">


</head>

<body>
<body>
<div>
	<!--<div class="page-header">-->
		<!--<h1>Slidr</h1>-->
		<!--<h3>Remote slideshow app</h3>-->
		<!--<small>(actual remote coming soon)</small>-->
	<!--</div>-->



	<div id="wrapper">
		<div class="col-sm-12 container-fluid img-responsive"
			 style="height: 100%; background-size: 100%; background: url(http://i.imgur.com/WzWaSG6.jpg) no-repeat">
			<!--<img src="http://i.imgur.com/RRUMCSL.jpg" class="img-responsive" alt="Responsive image"/>-->
			<div class="jumbotron vertical-center horizontal-center" style="opacity: .7; margin: 30 0 0 0px; max-width: 870px">
				<h1>Slidr</h1>
				<p>Why <code>[right arrow key]</code> when you can just slide?</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Try it out</a></p>
			</div>
		</div>
		<div class="sidebar col-sm-4" id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<a href="#">Slidr</a>
				</li>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/auth/github">Sign up with Github</a>
				</li>
				<li>
					<a href="/auth/github">Sign in</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>

















































<!-- <body>
	<h1>Slidr Homepage</h1>
	<nav>
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="./signup">Sign up with Github</a></li>
		  <li role="presentation"><a href="./signup">Sign in with Github</a></li>
		  <li role="presentation"><a href="#">Browse Slidrs</a></li>
		</ul>
	</nav>

	<div>
		<div>

		</div>
	</div>


</body> -->
</html>










